@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  padding: 10px 25px 12px 25px;
  border-radius: 4px;
  color: white;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header__navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.header__body {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__link {
  color: #666666;
  text-decoration: none;
  transition: 0.7s;
}
.header__link:hover {
  font-size: 17px;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  color: black;
  transition: 0.5s;
}
.header__images {
  position: absolute;
}
.header__btn {
  background-color: #222222;
}
.header__btn:hover {
  color: grey;
  background-color: black;
  transition: 0.7s;
  transform: translateY(-5px);
}

.happy {
  background-color: #E5E5E5;
}
.happy__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.happy__title {
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
}
.happy__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
}
.happy__btn {
  background-color: black;
  transition: 0.7s;
}
.happy__btn:hover {
  color: grey;
  background-color: black;
  transition: 0.5s;
  padding: 12px 26px;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  transform: translateY(5px);
}
.happy__images {
  position: relative;
  top: 204px;
}

.features {
  position: relative;
  background-color: black;
}
.features__infos {
  padding: 200px;
}
.features__texts {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
}
.features__blue {
  color: white;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 41px;
}
.features__box {
  background-color: white;
  border-radius: 20px;
  height: 490px;
  width: calc(33.33333% - 11px);
  text-align: center;
  position: relative;
  display: flex;
  align-items: end;
}
.features__box:hover {
  background-color: #F2F2F2;
  transition: 1s;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.features__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.features__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features__Calendar {
  position: absolute;
  top: -20px;
}
.features__blue-mein {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #0278ED;
  margin-top: 68px;
}
.features__orange-mein {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FF5437;
  margin-top: 68px;
}
.features__yellow-mein {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FF9209;
  margin-top: 68px;
}
.features__pink-mein {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #E738CE;
  margin-top: 68px;
}
.features__cyan-mein {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #00C6DF;
  margin-top: 68px;
}
.features__purple-mein {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #B25DF8;
  margin-top: 68px;
}
.features__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-top: 12px;
}
.features__info {
  background-color: #E5E5E5;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  border-radius: 0px 0px 20px 20px;
  z-index: 2;
}
.features__info:hover {
  background-color: white;
  transform: translateY(-5px);
  transition: 1s;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.prices {
  background-color: #FF5437;
}
.prices__reds {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prices__red {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
}
.prices__price {
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  color: white;
}
.prices__price:hover {
  font-size: 100px;
  transition: 0.5s;
}
.prices__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: white;
}

.technology {
  background-color: white;
}
.technology__img {
  position: relative;
  top: 140px;
}
.technology__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.technology__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
}
.technology__mein-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 10px;
}
.technology__familiarization {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.speed {
  background-color: #F2F2F2;
  padding: 100px 0 0;
  position: relative;
  z-index: 20;
}
.speed__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.speed__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.speed__mein-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 10px;
}
.speed__familiarization {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.dark {
  background-color: #222222;
  color: #FFFFFF;
  text-align: center;
}
.dark__texts {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  padding-top: 100px;
  color: #FFFFFF;
}
.dark__text-name {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  padding: 5px 0 14px;
}
.dark__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.dark__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
.dark__line {
  margin-top: -253px;
}
.dark__modes {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 71px 160px;
}

.pricing {
  background-color: #F5F5F5;
}
.pricing__texts {
  text-align: center;
}
.pricing__title {
  padding-top: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.pricing__mein {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 15px;
}
.pricing__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.pricing__boxs {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 41px 0px 90px 0px;
}
.pricing__box {
  height: 338px;
  width: 337px;
  background-color: #E5E5E5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.pricing__box:hover {
  background-color: white;
  transform: translateY(-5px);
  transition: 0.8s;
}
.pricing__blue-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #0278ED;
}
.pricing__blue-price {
  font-weight: 400;
  font-size: 108px;
  line-height: 124px;
  color: #0278ED;
}
.pricing__blue-price:hover {
  font-size: 110px;
}
.pricing__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
}
.pricing__blue {
  margin-top: 20px;
  background-color: #0278ED;
  border: 1px solid #0278ED;
}
.pricing__blue:hover {
  transition: 0.7s;
  margin-top: 10px;
}
.pricing__orange-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FF5437;
}
.pricing__orange-price {
  font-weight: 400;
  font-size: 108px;
  line-height: 124px;
  color: #FF5437;
}
.pricing__orange-price:hover {
  font-size: 110px;
}
.pricing__orange {
  margin-top: 20px;
  background-color: #FF5437;
  border: 1px solid #FF5437;
}
.pricing__orange:hover {
  transition: 0.7s;
  margin-top: 10px;
}
.pricing__yellow-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FF9209;
}
.pricing__yellow-price {
  font-weight: 400;
  font-size: 108px;
  line-height: 124px;
  color: #FF9209;
}
.pricing__yellow-price:hover {
  font-size: 110px;
}
.pricing__yellow {
  margin-top: 20px;
  background-color: #FF9209;
  border: 1px solid #FF9209;
}
.pricing__yellow:hover {
  transition: 0.7s;
  margin-top: 10px;
}

.comments {
  padding: 100px 136px;
  background-color: #F2F2F2;
}
.comments__header {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 41px;
}
.comments__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.comments__subtitle {
  padding-top: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}
.comments__cards {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.comments__card {
  width: 380;
  height: 225px;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 30px 0 0 30px;
}
.comments__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}
.comments__client-info {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
}
.comments__client-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1B1A1A;
}
.comments__company {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.download {
  background-color: #F2F2F2;
}
.download__boxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.download__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.download__mein {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 14px;
  text-align: center;
}
.download__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.download__link {
  margin-left: 35%;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.faq {
  background-color: #E5E5E5;
  color: #222222;
}
.faq__container {
  padding: 100px 140px;
}
.faq__title {
  font-weight: 400;
  font-size: 32px;
}
.faq__some-questions {
  padding-top: 13px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.faq__content {
  display: flex;
  padding-top: 40px;
  gap: 50px;
}
.faq__question {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 10px;
}
.faq__answer {
  width: 570px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 25px;
}

.my-photos {
  padding-top: 25px;
}

.information__boxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  gap: 20px;
}
.information__logo {
  margin-right: 20px;
}
.information__texts {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #666666;
}
.information__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}/*# sourceMappingURL=style.css.map */